
"""Settings local to the current user."""

from norc.defaults import BaseEnv

class DemoEnv(BaseEnv):
    """A demo of how settings can be inherited from BaseEnv.
    
    To use this environment, you would set the
    NORC_ENVIRONMENT shell variable to 'DemoEnv'.
    
    """
    
    DATABASE_NAME = 'norc_db'
    DATABASE_USER = 'demo'
    DATABASE_PASSWORD = 'norc'
    
    # Make this string unique and random, and don't share it with anybody.
    SECRET_KEY = ''
    
    # You can add the sqs module like this:
    # INSTALLED_APPS = BaseEnv.INSTALLED_APPS + ('norc.sqs',)
    
    # Amazon AWS login info.  Only needed if you're using the SQS module or
    # Amazon S3 backups.
    # AWS_ACCESS_KEY_ID = ''
    # AWS_SECRET_ACCESS_KEY = ''
    # AWS_BUCKET_NAME = ''
    # BACKUP_SYSTEM = ''        # Set to 'AmazonS3' to enable S3 log backups.
