body {
    background-color:#FFF;
    color:#000;
    font-family:"", "Verdana";
    font-size:10px;
}
table {
    border-spacing:0px;
    margin:0px;
    padding:0px;
    text-align:center;
    width:100%;
}
tr {
    margin:0px;
    padding:0px;
}
th {
    margin:0px;
    padding:0px;
}
td {
    margin:0px;
    padding:0px;
}
#ndss {
    margin-left:auto;
    margin-right:auto;
}
#ndss > table {
    border-top:1px solid #AAA;
    border-bottom:1px solid #AAA;
    font-family:"Trebuchet MS", "Courier New";
    font-size:10px;
}
.odd {
    background-color:#EEE;
}
.even {
    background-color:#FFF;
}
.clickable {
    color:#888;
    text-decoration:underline;
    cursor:pointer;
}
#page_nav {
    text-align:center;
}
.expanded_row {
    background-color:#8DF;
    color:#000;
}
.tr_hover {
/*    background-color:#CEF;*/
    background-color:#BBB;
    color:#000;
    cursor:pointer;
}
.details {
    border:1px solid #000;
    margin-bottom:1px;
}
.details th {
    background-color:#DDD;
    font-weight:bold;
}
.status_good {
    background-color:#CCFF66;
}
.status_warning {
    background-color:#FFFF55;
}
.status_error {
    background-color:#FF8855;
}
.no_tasks {
    background-color:#88DDFF;
    font-weight:bold;
}