body {
    background-color:#F6FFF9;
    color:#000;
    font-family:"", "Verdana";
    font-size:10px;
}
h1 {
    color:#000;
    text-align:center;
}
h2 {
    color:#000;
}
div.content {
    margin-left:auto;
    margin-right:auto;
    width:800px;
}
table {
    border-spacing:0px;
    margin:0px;
    padding:0px;
    text-align:center;
    width:100%;
}
table.data {
    background-color:#AAA;
/*    border-top:1px solid #AAA;*/
/*    border-bottom:1px solid #AAA;*/
    font-family:"Trebuchet MS", "Futura", "Courier New";
    font-size:10px;
}

/* Row styles. */
tr {
    margin:0px;
    padding:0px;
}
tr.even {
    background-color:#C4E4C0;
}
tr.odd {
    background-color:#D0F4D0;
}
table.data tr.hover {
    background-color:#EEFEEE;
    color:#000;
    cursor:pointer;
}
tr.expanded {
    background-color:#80E0EF;
}
table.data tr.expanded.hover {
    background-color:#90EFFF;
}
.details tr.even {
    background-color:#C0F5FF;
}
.details tr.odd {
    background-color:#A6E9FF;
}
.no_tasks {
    background-color:#C0F5FF;
}

td {
    margin:0px;
    padding:0px;
}
span.clickable {
    color:#888;
    text-decoration:underline;
    cursor:pointer;
}
.page_nav {
    text-align:center;
}
.status_good {
    background-color:#CF6;
}
.status_warning {
    background-color:#FF5;
}
.status_error {
    background-color:#F85;
}
