body {
    background-color:#F6FFF9;
    color:#000;
    font-family:"Bitstream Vera Sans Mono", "Arial", "Verdana";
    font-size:12px;
    padding-bottom:30px;
    padding-left:30px;
}
h1 {
    display:inline-block;
    text-align:left;
}
h2 {
    margin-bottom:0px;
}
div.content {
    display:table;
}
div.section {
    display:table;
    min-width:500px;
}
#timestuff {
    float:right;
    text-align:right;
}
#timestamp {
    font-weight: bold;
}
#scheduler_monitor {
    text-align: center;
}
#scheduler_count {
    cursor: default;
    font-size: 36px;
}
table {
    border-spacing:0px;
    font-family:"Trebuchet MS", "Futura", "Courier New";
    margin:0px;
    width:100%;
    padding:0px;
    text-align:center;
    white-space:nowrap;
}
table.L2 {
    width:100%;
}
tr {
    margin:0px;
    padding:0px;
}
td, th {
    margin:0px;
    padding:0px 10px;
}
.inserted td {
    padding:0px;
}
#auto-reload {
    float:right;
}
table.L1 tr.even {
    background-color:#D3EAD0;
}
table.L1 tr.odd {
    background-color:#DEF7DE;
}
table.L1 tr.hover {
    background-color:#EEFEEE;
}
table.L1 td.clickable:hover {
    background-color:#B8DBB9;
}
table.L1 tr.expanded td.selected {
    background-color:#437F99;
    color:#FFFFFF;
}
table.L1 tr.expanded td.clickable:hover {
    background-color:#8BDCDD;
    color:#FFFFFF;
}

table.L1 ul.pagination {
    background-color:#92E6E7;
}
table.L1 ul.pagination li.clickable {
    background-color:#66A9BD;
}
table.L1 ul.pagination li.clickable:hover {
    background-color:#76B9CD;
}
table.L1 tr.expanded {
    background-color:#9FE8F3;
}
table.L1 tr.expanded.hover {
    background-color:#90EFFF;
}
table.L2 tr.even {
    background-color:#D0F7FF;
}
table.L2 tr.odd {
    background-color:#BCEEFF;
}
table.L2 tr.hover {
    background-color:#EBFFFF;
}

table.L2 ul.pagination {
    background-color:#FFCF57;
}
table.L2 ul.pagination li.clickable {
    background-color:#86652C;
}
table.L2 ul.pagination li.clickable:hover {
    background-color:#9C8038;
}
table.L2 tr.expanded {
    background-color:#FFDF57;
}
table.L2 tr.expanded.hover {
    background-color:#FFEB49;
}
table.L3 tr.even {
    background-color:#FFf9a0;
}
table.L3 tr.odd {
    background-color:#FFEE80;
}
table.L3 tr.hover {
    background-color:#FFFADD;
}


ul.pagination {
    background-color:#B8DBB9;
    display:block;
    list-style:none;
    margin:0px;
    padding:1px;
    text-align:center;
}
ul.pagination li {
    cursor:default;
    display:inline;
    margin:0px 20px;
    padding:1px 20px;
}
ul.pagination li.clickable {
    background-color:#658869;
    color:#FFFFFF;
    cursor:pointer;
}
ul.pagination li.clickable:hover {
    background-color:#7D9E80;
}

/* Timeframe stuff. */
ul.timeframe {
    background-color:#B8DBB9;
    cursor:default;
    display:inline-block;
    margin:0px;
    padding:0px;
    text-align:center;
}
ul.timeframe li {
    display:inline-block;
    margin:0px;
    padding:2px 5px;
    width:25px;
    text-decoration:underline;
}
ul.timeframe li.clickable {
    cursor:pointer;
}
ul.timeframe li.clickable:hover {
    background-color:#7D9E80;
    color:#FFFFFF;
}
ul.timeframe li.selected {
    background-color:#658869;
    color:#FFFFFF;
}
.hover {
    cursor:pointer;
}
.loading {
    float:left;
    height:0px;
    left:-20px;
    margin:0px;
    padding:0px;
    position:relative;
    width:0px;
}
.loading img {
    width:16px;
    height:16px;
}
.slideout {
    display:inline-block;
    float:right;
    height:0px;
    margin:0px;
    overflow:visible;
    padding:0px;
/*    position:relative;*/
    width:1px;
/*    left:0px;*/
/*    top:0px;*/
}
.slideout ul {
    background-color:#B8DBB9;
    bottom:12px;
    display:inline-block;
    list-style:none;
    margin:0px;
    overflow:hidden;
    padding:0px;
    position:relative;
    right:-10px;
/*    top:0px;*/
}
.slideout li {
    cursor:pointer;
    padding:5px;
    margin:0px;
}
.slideout li:hover {
    background-color:#A0CAA4;
}
.status_good {
    background-color:#AF6;
}
.status_warning {
    background-color:#FF5;
}
.status_error {
    background-color:#F85;
}
.leftAlign {
    text-align:left;
}
.rightAlign {
    text-align:right;
}