<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Norc Exception!</title>
        <style type="text/css">
            body {
                background-color:#000;
                color:#0CF;
                font-family:"Courier";
            }
            h2 {
                text-align:center;
            }
            pre {
                border:1px solid #0CF;
                font-size:11px;
                padding:10px;
                margin-left:auto;
                margin-right:auto;
                width:700px;
            }
        </style>
    </head>
    <body>
        <h2>500 Error</h2>
        <pre>{{ message }}</pre>
    </body>
</html>