{% load norc_extras %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Norc View</title>
        <link href="/static/css/status.css" type="text/css" rel="stylesheet">
        <script src="/static/js/jquery-1.4.2.min.js" type="text/javascript"></script>
        <script src="/static/js/status.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>Norc Status</h1>
        <div id="daemons" class="content">
            <h2>Daemons</h2>
            <ul class="timeframe"></ul>
            <table></table>
        </div>
        <div id="sqsqueues" class="content">
            <h2>SQS Queues</h2>
            <table></table>
        </div>
        <div id="jobs" class="content">
            <h2>Jobs</h2>
            <ul class="timeframe"></ul>
            <table></table>
        </div>
    </body>
</html>
