{% load norc_extras %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Norc View</title>
        <link href="/static/css/status.css" type="text/css" rel="stylesheet">
        <script type="text/javascript">
            var SECTIONS = ['{{ sections|join:"', '" }}'];
            var SQS_ENABLED = {{ sqs|lower }};
            var IS_SUPERUSER = {{ is_superuser|lower }};
            var DATA_HEADERS = {
                {% for k, r in reports.items %}'{{ k }}': ['{{ r.headers|join:"', '" }}'],
                {% endfor%}
            };
            var VALID_REQUESTS = {
                {% for k, reqs in requests.items %}'{{ k }}': ['{{ reqs|join:"', '" }}'],
                {% endfor%}
            };
        </script>
        <script src="/static/js/jquery-1.4.3.min.js" type="text/javascript"></script>
        <script src="/static/js/jquery.color.js" type="text/javascript"></script>
        <script src="/static/js/status.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="content">
            <h1>Norc Status</h1>
            <div id="timestuff">
                <span id="timestamp"></span><br>
                <span id="auto-reload"><input type="checkbox"/>Auto-reload</span>
            </div>
            <div id="scheduler_monitor">
                Schedulers:
                <div id="scheduler_count"></div>
                <div id="scheduler_message">
                    <span></span><br>
                    A running Scheduler is required for Norc to function.
                </div>
            </div>
            {% for s in sections %}<div id="{{ s }}" class="section">
                <h2>{{ reports.s.title|default:s|totitle }}</h2>
                <table></table>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
